.container {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9rem;

  th {
    padding: 0.5rem 1rem;
    text-align: center;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      top: 25%;
      height: 50%;
      width: 1px;
      background-color: #e0e0e0;
    }
  }

  td {
    text-align: center;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      top: 25%;
      height: 50%;
      width: 1px;
      background-color: #e0e0e0;
    }
  }

  thead {
    th {
      background-color: #f5f5f5;
      font-weight: 500;
      border-bottom: 2px solid #ddd;
    }
  }

  tbody {
    tr {
      &.highlighted {
        background: red;
      }

      &:last-child {
        th {
          border-bottom: none;
        }
      }
    }

  }
}