* {
  margin: 0;
  padding: 0;
}
@mixin header_footer_block {
  height: $header-footer-height;
  width: 100%;
  padding: 10px 5%;
  box-sizing: border-box;
}

$header-footer-height: 100px;
$max-height: 100%;
$primary-green-color: #18806e;

$primary-gray-color: #c6c6c6; //(очень светлый серый) — для фона или акцентов, создаёт чистый и современный вид.
$primary-orange-color: #ffb74d; // (светло-оранжевый) — для кнопок или иконок, чтобы добавить яркости и привлечь внимание.
$secondary-gray-color: #343a40; // (тёмно-серый) — для текста и заголовков, создаёт контраст на светлом фоне.
$primary-pink-color: #ff6f61; //(кораллово-розовый) — можно использовать для акцентных элементов или иконок.
$secondary-green-color: #a7c957; // (зелёно-лаймовый) — для элементов интерфейса или выделений, создавая свежий и лёгкий эффект.

$primary-blue-color: #4fc3f7; // Светло-голубой для акцентов или фона
$secondary-blue-color: #007bff; // Насыщенный голубой для кнопок или ссылок
